.color-red{
    color: #F86634 !important;
}
.navbar{
    display: flex;
    height: 10vh;
    background-color: #1a1a1d !important;

    .container-fluid{
        margin: 0 300px;

        .navbar-brand{
            font-size: xx-large;

            .subbrand{
                font-size: small;
            }
        }
    }

    a{
        font-size: large;
        color: white;
    }

    a:hover{
        color: #F86634;
    }

    .collapse{
        flex-direction: row-reverse;

        .navbar-nav a{
            padding: 0 50px;
        }
    }
}

.home-container{
    display: flex;
    flex-direction: column;
    height: 100vh;

    .main-heading-container{
        display: flex;
        height: 670px;
        .image-container{
            margin-left: auto;
        }
        .heading-container{
            display: flex;
            flex-direction: column;
            margin-top: 200px;
    
            .signup-home{
                margin-top: 60px;
                background: #F86634;
                border: none;
            }
    
            .sub-text{
                font-size: large;
                white-space: break-spaces;
            }
        }
    }

}

.information-container{
    .information{
        display: flex;
        justify-content: space-evenly;
        font-size: 2rem;
        text-align: center;
        .sub-text{
            font-size: 20px;
            color: black;
        }
        i{
            margin-right: 10px;
        }
    }
}

.features-container{
    height: 100vh;
    .btn{
        background: #F86634;
        border: none;
    }
    h1{
        text-align: center;
    }
    .features-boxes{
        .row{
            .col{
                padding: 50px;
                .card{
                    .card-text{
                        white-space: break-spaces;
                    }
                }
               
            }
        }
    }
}

.pricing-container{
    display: flex;
    flex-direction: column;
    span{
        margin: 25px 0px;
        font-weight: bolder;
        text-align: center;
    }
    .price-box-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
    }
    h1{
        text-align: center;
    }
    .price-box{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        width: 400px;
        height: 70vh;
        border-radius: 8px;
        padding: 20px;
        background: white;
        .best-valued{
            position: absolute;
            top: -10px;
            left: 250px;

            .badge-text{
                font-size: large;
            }
        }
        .price{
            .sub-price{
                font-size: large;
            }
        }
        .features-list{
            ul{
                list-style-type: none;
                padding: 0;
                li{
                    padding-bottom: 50px;
                }
            }

        }
        .subscribe-button{
            height: 100%;
            display: flex;
            align-items: end;
            justify-content: center;

            .btn-outline-primary{
                --bs-btn-font-weight: 400;
                --bs-btn-hover-bg:  #F86634;
                --bs-btn-hover-border-color:  #F86634;
                --bs-btn-active-color: transparent;
            }
        }
    }
    height: 100vh;
}

.testimonial-container {
    min-height: 100vh;
    color: #1a1a1d;
    text-align: center;
    display: flex;
    flex-direction: column;
    .home-testimonial {
      background-color: #F86634;
      height: 380px;
      flex-grow: 1;
      margin-top: 150px;
    }
    .home-testimonial-bottom {
      background-color: #f8f8f8;
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin-top: 20px;
      margin-bottom: 0px;
      position: relative;
      height: 130px;
      top: 190px;
    }
    .home-testimonial h3 {
      color: var(--orange);
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .home-testimonial h2 {
      color: white;
      font-size: 28px;
      font-weight: 700;
    }
    .testimonial-inner {
      position: relative;
      top: -174px;
    }
    .testimonial-pos {
      position: relative;
      top: 24px;
    }
    .testimonial-inner .tour-desc {
      border-radius: 5px;
      padding: 40px;
    }
    .color-grey-3 {
      font-family: "Montserrat", Sans-serif;
      font-size: 14px;
      color: #6c83a2;
    }
    .testimonial-inner img.tm-people {
      width: 60px;
      height: 60px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
      max-width: none;
    }
    .link-name {
      font-family: "Montserrat", Sans-serif;
      font-size: 14px;
      color: #6c83a2;
    }
    .link-position {
      font-family: "Montserrat", Sans-serif;
      font-size: 12px;
      color: #6c83a2;
    }
  }

  .footer{
    background-color: #1a1a1d;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
    height: 100vh ;

    .footer-heading{
        margin-bottom: 30px;
        color: #F86634;
    }

    .footer-description{
        margin-bottom: 20px;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

        li{
            margin-right: 20px;
            a{
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    .scroll-top-button {
        background-color: #F86634;
        color: #ffffff;
        border: none;
        height: 40px;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        margin-top: 20px;
      }
  }
  